body{
    background-color: rgb(201, 192, 192);
}

div{
    background-color: wheat;
}

h1{
    text-align: center;
}

div{
    padding: 15px;
    margin: 30px;
border-radius: 20px;
}

ul{
    list-style: none;
    text-align: center;
}

a{
    text-decoration: none;
}

li{
    margin: 10px;
}

form{
    text-align: center;
}